lung_image_sets
lung_image_sets_no_duplicates
lung_image_sets.zip
splitted
splitted_dataset
splitted_lung
archive
EfficientNetV2B3.h5
EfficientNetV2B2.h5
model_EfficientNetV2B3.h5
model_EfficientNetV2B2.h5
